.author {
    font-style: italic;
    color: rgba(17, 0, 250, 0.438);
    text-align: center;
}
body{
    background-color:white;
    background-image: url(../images/pik3.jpg);
    background-size: cover;
    
}
h2 {
    color: rgb(19, 15, 17);
    text-decoration: underline;
    text-shadow: 3px 2px rgba(8, 105, 24, 0.801);
    font-size: 30px;
   
}
.cool{
    font-style: italic;
}
p.uppercase {
    text-transform: uppercase;
    text-indent: 10px;
    direction: ltr;
}
.column {
    width: 350px;
    float: right;
    margin-right: 800px
 }
 